In [1]:
import numpy as np
import pandas as pd
gameWeekData = pd.read_csv('data/2016-17/players/Aaron_Cresswell/gw.csv')
historyData = pd.read_csv('data/2016-17/players/Aaron_Cresswell/history.csv')
print list(gameWeekData)
print
print list(historyData)
gameWeekData['total_points'].plot()

['assists', 'attempted_passes', 'big_chances_created', 'big_chances_missed', 'bonus', 'bps', 'clean_sheets', 'clearances_blocks_interceptions', 'completed_passes', 'creativity', 'dribbles', 'ea_index', 'element', 'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fixture', 'fouls', 'goals_conceded', 'goals_scored', 'ict_index', 'id', 'influence', 'key_passes', 'kickoff_time', 'kickoff_time_formatted', 'loaned_in', 'loaned_out', 'minutes', 'offside', 'open_play_crosses', 'opponent_team', 'own_goals', 'penalties_conceded', 'penalties_missed', 'penalties_saved', 'recoveries', 'red_cards', 'round', 'saves', 'selected', 'tackled', 'tackles', 'target_missed', 'team_a_score', 'team_h_score', 'threat', 'total_points', 'transfers_balance', 'transfers_in', 'transfers_out', 'value', 'was_home', 'winning_goals', 'yellow_cards']

['assists', 'bonus', 'bps', 'clean_sheets', 'creativity', 'ea_index', 'element_code', 'end_cost', 'goals_conceded', 'goals_scored', 'ict_index', 'id', 'influence', 'minutes', 'own_goals', 'penalties_missed', 'penalties_saved', 'red_cards', 'saves', 'season', 'season_name', 'start_cost', 'threat', 'total_points', 'yellow_cards']

In [15]:
import glob
path = 'data/2016-17/players'
filenames = glob.glob(path + "/*/gw.csv")
all_p_gwData = (pd.read_csv(f) for f in filenames)
p_gwData = pd.concat(all_p_gwData, keys=[i for i in range(683)])
p_gwData[:35]

# not multidimensional, but multiindexed
# https://pandas.pydata.org/pandas-docs/stable/merging.html

      assists  attempted_passes  big_chances_created  big_chances_missed  \
0 0         0                 0                    0                   0
  1         0                 0                    0                   0
  2         0                 0                    0                   0
  3         0                 0                    0                   0
  4         0                 0                    0                   0
  5         0                 0                    0                   0
  6         0                 0                    0                   0
  7         1                20                    1                   0
  8         0                 0                    0                   0
  9         0                41                    0                   0
  10        0                30                    0                   0
  11        0                37                    0                   0
  12        0                24                    0                   0
  13        0                 0                    0                   0
  14        0                25                    0                   0
  15        0                39                    0                   0
  16        0                41                    0                   0
  17        0                39                    0                   0
  18        0                39                    0                   0
  19        0                34                    0                   0
  20        0                32                    0                   0
  21        0                33                    1                   0
  22        0                25                    0                   1
  23        0                25                    0                   0
  24        0                15                    0                   0
  25        0                21                    1                   0
  26        0                58                    0                   0
  27        0                28                    0                   0
  28        0                29                    0                   0
  29        1                28                    1                   0
  30        0                 0                    0                   0
  31        0                 0                    0                   0
  32        0                 0                    0                   0
  33        0                 5                    0                   0
  34        0                 7                    0                   0

      bonus  bps  clean_sheets  clearances_blocks_interceptions  \
0 0       0    0             0                                0
  1       0    0             0                                0
  2       0    0             0                                0
  3       0    0             0                                0
  4       0    0             0                                0
  5       0    0             0                                0
  6       0    0             0                                0
  7       0   23             1                                4
  8       0    0             0                                0
  9       0   12             0                                1
  10      0   13             0                                4
  11      0   13             0                                2
  12      0    7             0                                4
  13      0    0             0                                0
  14      0   12             0                               16
  15      0   17             1                                3
  16      1   27             1                                8
  17      0   12             0                                6
  18      0   24             0                                1
  19      0   10             0                                1
  20      0   20             1                                2
  21      0   17             0                                5
  22      0    4             0                                4
  23      0    5             0                                5
  24      0    3             0                                0
  25      0   10             0                                1
  26      0   16             0                                3
  27      0   13             0                                2
  28      0    8             0                                3
  29      0   16             0                                0
  30      0    0             0                                0
  31      0    0             0                                0
  32      0    0             0                                0
  33      0    3             0                                0
  34      0    9             0                                6

      completed_passes  creativity      ...       team_h_score  threat  \
0 0                  0         0.0      ...                  2     0.0
  1                  0         0.0      ...                  1     0.0
  2                  0         0.0      ...                  3     0.0
  3                  0         0.0      ...                  2     0.0
  4                  0         0.0      ...                  4     0.0
  5                  0         0.0      ...                  0     0.0
  6                  0         0.0      ...                  1     0.0
  7                 12        25.1      ...                  0     6.0
  8                  0         0.0      ...                  1     0.0
  9                 35         7.9      ...                  2     0.0
  10                23         1.9      ...                  1     4.0
  11                29         2.8      ...                  3     2.0
  12                16         1.7      ...                  1     6.0
  13                 0         0.0      ...                  1     0.0
  14                18         5.7      ...                  2     1.0
  15                27         7.2      ...                  1    18.0
  16                33         1.8      ...                  1     8.0
  17                30        11.7      ...                  1     0.0
  18                36        57.8      ...                  1    15.0
  19                31         1.9      ...                  0     0.0
  20                23        12.0      ...                  3     0.0
  21                25        26.8      ...                  1     6.0
  22                15         5.0      ...                  0     4.0
  23                19         6.1      ...                  1    17.0
  24                12         0.9      ...                  2     0.0
  25                15        15.5      ...                  1     3.0
  26                47         3.8      ...                  1    18.0
  27                20        11.5      ...                  3     2.0
  28                21        15.4      ...                  2     0.0
  29                16        14.6      ...                  2     0.0
  30                 0         0.0      ...                  3     0.0
  31                 0         0.0      ...                  1     0.0
  32                 0         0.0      ...                  2     0.0
  33                 1         0.3      ...                  0     0.0
  34                 6        14.3      ...                  0     0.0

      total_points  transfers_balance  transfers_in  transfers_out  value  \
0 0              0                  0             0              0     55
  1              0              -3002            79           3081     55
  2              0              -2053            28           2081     54
  3              0              -1221            45           1266     54
  4              0               -520            29            549     54
  5              0               -500            20            520     54
  6              0               -285            40            325     53
  7              6                468           678            210     53
  8              0               1813          2313            500     53
  9              1               2432          2697            265     53
  10             2               2112          2564            452     53
  11             1                839          1671            832     53
  12             1               -204           503            707     53
  13             0              -1707           346           2053     53
  14             1              -1195           163           1358     53
  15             6               2619          2875            256     53
  16             7               3143          3422            279     53
  17             2               -104          1033           1137     53
  18             2               -517           499           1016     53
  19             1               -979           656           1635     53
  20             6               -232          1768           2000     53
  21             2                164          1157            993     53
  22             0               -772           511           1283     53
  23             1               -649           368           1017     53
  24             1               -553           817           1370     52
  25             2               -556           435            991     52
  26             1               -221           390            611     52
  27             1               7409          7910            501     52
  28             1              -1475           437           1912     52
  29             5               -473           559           1032     52
  30             0              -2305            94           2399     52
  31             0              -3029            76           3105     52
  32             0              -1477            90           1567     51
  33             1               -619            94            713     51
  34             1               -201            88            289     51

      was_home  winning_goals  yellow_cards
0 0      False              0             0
  1       True              0             0
  2      False              0             0
  3       True              0             0
  4      False              0             0
  5       True              0             0
  6       True              0             0
  7      False              0             0
  8       True              0             0
  9      False              0             0
  10      True              0             0
  11     False              0             0
  12     False              0             1
  13      True              0             0
  14     False              0             0
  15      True              0             0
  16      True              0             0
  17     False              0             0
  18     False              0             0
  19      True              0             0
  20      True              0             0
  21     False              0             0
  22      True              0             0
  23     False              0             1
  24      True              0             0
  25     False              0             0
  26      True              0             0
  27     False              0             0
  28      True              0             0
  29     False              0             0
  30     False              0             0
  31      True              0             0
  32     False              0             0
  33      True              0             0
  34     False              0             0

[35 rows x 54 columns]

In [14]:
path = 'data/2016-17/players'
filenames = glob.glob(path + "/*/history.csv")
all_p_hData = (pd.read_csv(f).mean() for f in filenames)
p_hData = pd.concat(all_p_hData, keys=[i for i in range(683)])
print p_hData

0    assists                 3.333333
     bonus                   8.666667
     bps                   527.333333
     clean_sheets            8.333333
     creativity             94.900000
     ea_index              341.333333
     element_code        55459.000000
     end_cost               55.000000
     goals_conceded         44.000000
     goals_scored            1.333333
     ict_index              23.733333
     id                   6328.666667
     influence             102.533333
     minutes              2949.666667
     own_goals               0.000000
     penalties_missed        0.000000
     penalties_saved         0.000000
     red_cards               0.333333
     saves                   0.000000
     season                 10.000000
     start_cost             55.000000
     threat                 40.333333
     total_points          107.333333
     yellow_cards            2.666667
1    assists                 5.363636
     bonus                   7.454545
     bps                    66.363636
     clean_sheets            4.181818
     creativity              8.490909
     ea_index              150.000000
                             ...
681  saves                   0.000000
     season                  4.200000
     start_cost             60.000000
     threat                  0.600000
     total_points           50.800000
     yellow_cards            3.200000
682  assists                 3.333333
     bonus                   9.000000
     bps                   187.000000
     clean_sheets            6.000000
     creativity            151.633333
     ea_index              147.000000
     element_code        42892.000000
     end_cost               80.000000
     goals_conceded         21.333333
     goals_scored            6.000000
     ict_index              69.033333
     id                   6270.000000
     influence             180.800000
     minutes              1531.333333
     own_goals               0.000000
     penalties_missed        0.000000
     penalties_saved         0.000000
     red_cards               0.000000
     saves                   0.000000
     season                  9.333333
     start_cost             83.333333
     threat                359.333333
     total_points           79.666667
     yellow_cards            2.000000
Length: 16392, dtype: float64

In [55]:
mat = np.zeros((683,9))
for i in range(683):
    mat[i][0] = p_hData[i]['assists']
    mat[i][1] = p_hData[i]['goals_scored']
    mat[i][2] = p_hData[i]['bonus']
    mat[i][3] = p_hData[i]['clean_sheets']
    mat[i][4] = p_hData[i]['creativity']
    mat[i][5] = p_hData[i]['saves']
    mat[i][6] = p_hData[i]['influence']
    mat[i][7] = p_hData[i]['start_cost']
    mat[i][8] = 0 if p_hData[i]['minutes'] == 0 else p_hData[i]['total_points'] / p_hData[i]['minutes']

In [56]:
from sklearn import linear_model
regr = linear_model.LinearRegression(normalize=True)
regr.fit(mat[:,0:7], mat[:,8])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=True)

In [57]:
print regr.coef_
print regr.intercept_

[  1.86498515e-03   1.84792236e-03   1.90717954e-04  -2.31108928e-03
  -4.91922858e-06   5.62941097e-05  -2.76038775e-06]
0.0483264326558

In [76]:
player_id = pd.read_csv('data/2016-17/player_idlist.csv')
player_pos = pd.read_csv('data/16-17 pos clean.csv')

In [25]:
player_id[:5]

        first_name  second_name  id
0            David       Ospina   1
1             Petr         Cech   2
2          Laurent    Koscielny   3
3              Per  Mertesacker   4
4  Gabriel Armando     de Abreu   5

In [15]:
player_pos[:5]

              player    position  Unnamed: 2  Unnamed: 3  Unnamed: 4
0         Almen Abdi  Midfielder         NaN         NaN         NaN
1      Tammy Abraham     Forward         NaN         NaN         NaN
2       Charlie Adam  Midfielder         NaN         NaN         NaN
3         Adam Smith    Defender         NaN         NaN         NaN
4  Emmanuel Adebayor     Forward         NaN         NaN         NaN

In [30]:
fname = player_id['first_name'][0]
sname = player_id['second_name'][0]
pname = fname + ' ' + sname
print pname

David Ospina

In [33]:
pname2 = player_pos['player'][0]
print pname2

Almen Abdi

In [77]:
n = 0
m = 0
for i in player_id.index:
    fname = player_id['first_name'][i]
    sname = player_id['second_name'][i]
    pname = fname + ' ' + sname
    n += 1
    for j in player_pos.index:
        if player_pos['player'][j] == pname:
#             print pname, player_pos['position'][j]
            m += 1
            player_id.loc[i, 'position'] = player_pos['position'][j]
# print n, m

In [78]:
player_id

          first_name         second_name   id    position
0              David              Ospina    1  Goalkeeper
1               Petr                Cech    2  Goalkeeper
2            Laurent           Koscielny    3    Defender
3                Per         Mertesacker    4    Defender
4    Gabriel Armando            de Abreu    5         NaN
5             HÃ©ctor            BellerÃ­n    6         NaN
6             Kieran               Gibbs    7    Defender
7            Mathieu             Debuchy    8    Defender
8               Carl           Jenkinson    9    Defender
9              Nacho             Monreal   10    Defender
10             Calum            Chambers   11    Defender
11            Alexis             SÃ¡nchez   12         NaN
12              Theo             Walcott   13     Forward
13             Mesut                Ã–zil   14         NaN
14          Santiago             Cazorla   15  Midfielder
15             Aaron              Ramsey   16  Midfielder
16              Jack            Wilshere   17  Midfielder
17              Alex  Oxlade-Chamberlain   18  Midfielder
18             Serge              Gnabry   19     Forward
19           Francis            Coquelin   20  Midfielder
20              Alex               Iwobi   21  Midfielder
21           Mohamed              Elneny   22  Midfielder
22              Joel            Campbell   23     Forward
23            Granit               Xhaka   24  Midfielder
24           Olivier              Giroud   25     Forward
25             Danny             Welbeck   26     Forward
26              Yaya              Sanogo   27     Forward
27            Takuma               Asano   28         NaN
28             Artur               Boruc   29  Goalkeeper
29              Adam            Federici   30  Goalkeeper
..               ...                 ...  ...         ...
653           Connor             Roberts  654         NaN
654          Matthew             Willock  655         NaN
655             Axel            Tuanzebe  656    Defender
656  Damian Emiliano            Martinez  657         NaN
657              Joe            Williams  658  Midfielder
658             Dion             Pereira  659  Midfielder
659             Matt               Macey  660  Goalkeeper
660            James             Husband  661    Defender
661       Joel Dinis      Castro Pereira  662         NaN
662          Eduardo   Dos Reis Carvalho  663         NaN
663            Moses              Makasi  664  Midfielder
664           Nathan             Holland  665         NaN
665            Rhian            Brewster  666         NaN
666            Scott           McTominay  667         NaN
667            Angus                Gunn  668  Goalkeeper
668          Demetri            Mitchell  669         NaN
669          Elliott               Moore  670         NaN
670            Filip             Lesniak  671         NaN
671           Samuel            Shashoua  672         NaN
672          Zachary            Dearnley  673         NaN
673           Joshua              Harrop  674         NaN
674           Daniel                Kemp  675  Midfielder
675           Daniel               Batty  676         NaN
676            Aaron            Ramsdale  677         NaN
677          Matthew         Worthington  678         NaN
678              Sam            Surridge  679     Forward
679            Angel               Gomes  680         NaN
680           Kieran              O'Hara  681         NaN
681          Gerhard             Tremmel  682         NaN
682             Rene           Gilmartin  683  Goalkeeper

[683 rows x 4 columns]

In [80]:
player_id.to_csv('player_position.csv')

In [2]:
import pandas as pd

schedule_16_17 = pd.read_csv('data/UK_Football_Fixtures_2016-17.csv', usecols=['HOME TEAM', 'AWAY TEAM'])
schedule_16_17['GAMEWEEK'] = [i / 10 + 1 for i in range(schedule_16_17.shape[0])]
schedule_16_17.set_index('GAMEWEEK', drop=True, inplace=True)

schedule_17_18 = pd.read_csv('data/UK_Football_Fixtures_2017-18.csv', usecols=['HOME TEAM', 'AWAY TEAM'])
schedule_17_18['GAMEWEEK'] = [i / 10 + 1 for i in range(schedule_17_18.shape[0])]
schedule_17_18.set_index('GAMEWEEK', drop=True, inplace=True)

In [4]:
a = pd.read_csv('data/2016-17/players/Aaron_Cresswell/gw.csv')

In [12]:
b = a['team_h_score'] - a['team_a_score']
for i in a.index:
    if a.loc[i, 'was_home'] == True:
        if b[i] < 0:
            a.loc[i, 'match_result'] = -1
        elif b[i] == 0:
            a.loc[i, 'match_result'] = 0
        else:
            a.loc[i, 'match_result'] = 1
    else:
        if b[i] < 0:
            a.loc[i, 'match_result'] = 1
        elif b[i] == 0:
            a.loc[i, 'match_result'] = 0
        else:
            a.loc[i, 'match_result'] = -1

In [16]:
# a.to_csv('data/2016-17/players/Aaron_Cresswell/gw_match_result.csv')

In [33]:
path = 'data/2016-17/players'
filenames = glob.glob(path + "/*/gw.csv")
for f in filenames:
    a = pd.read_csv(f)
    b = a['team_h_score'] - a['team_a_score']
    for i in a.index:
        if a.loc[i, 'was_home'] == True:
            if b[i] < 0:
                a.loc[i, 'match_result'] = -1
            elif b[i] == 0:
                a.loc[i, 'match_result'] = 0
            else:
                a.loc[i, 'match_result'] = 1
        else:
            if b[i] < 0:
                a.loc[i, 'match_result'] = 1
            elif b[i] == 0:
                a.loc[i, 'match_result'] = 0
            else:
                a.loc[i, 'match_result'] = -1
    a.to_csv(f[:-4] + "_match_result.csv")

In [35]:
player_id = pd.read_csv('data/2017-18/player_idlist.csv')
player_pos = pd.read_csv('data/2017-18 pos clean.csv')

In [38]:
n = 0
m = 0
for i in player_id.index:
    fname = player_id['first_name'][i]
    sname = player_id['second_name'][i]
    pname = fname + ' ' + sname
    n += 1
    for j in player_pos.index:
        if player_pos['player'][j] == pname:
#             print pname, player_pos['position'][j]
            m += 1
            player_id.loc[i, 'position'] = player_pos['position'][j]
# print n, m

In [42]:
player_id.to_csv('player_position.csv')

In [43]:
player_id

          first_name         second_name   id    position
0              David              Ospina    1  Goalkeeper
1               Petr                Cech    2  Goalkeeper
2    Damian Emiliano            Martinez    3         NaN
3            Laurent           Koscielny    4    Defender
4                Per         Mertesacker    5    Defender
5    Gabriel Armando            de Abreu    6         NaN
6             HÃ©ctor            BellerÃ­n    7    Defender
7             Kieran               Gibbs    8    Defender
8               Carl           Jenkinson    9    Defender
9              Nacho             Monreal   10    Defender
10               Rob             Holding   11    Defender
11          Shkodran             Mustafi   12    Defender
12              Sead           Kolasinac   13    Defender
13            Alexis             SÃ¡nchez   14     Forward
14              Theo             Walcott   15     Forward
15             Mesut                Ã–zil   16  Midfielder
16          Santiago             Cazorla   17  Midfielder
17             Aaron              Ramsey   18  Midfielder
18              Alex  Oxlade-Chamberlain   19  Midfielder
19           Francis            Coquelin   20  Midfielder
20              Alex               Iwobi   21  Midfielder
21           Mohamed              Elneny   22  Midfielder
22            Granit               Xhaka   23  Midfielder
23              Jack            Wilshere   24  Midfielder
24           Olivier              Giroud   25     Forward
25             Danny             Welbeck   26     Forward
26             Lucas               PÃ©rez   27     Forward
27         Alexandre           Lacazette   28     Forward
28             Asmir             Begovic   29  Goalkeeper
29             Artur               Boruc   30  Goalkeeper
..               ...                 ...  ...         ...
555           Thomas             Edwards  556    Defender
556             Alex              Palmer  557         NaN
557            Ethan              Ampadu  558    Defender
558             Matt               Macey  559  Goalkeeper
559           Edward             Nketiah  560         NaN
560              Joe               Rodon  561    Defender
561           Julien                Ngoy  562     Forward
562             Beni           Baningime  563  Midfielder
563          Mathieu             Debuchy  564    Defender
564            Paulo           Gazzaniga  565  Goalkeeper
565            Alfie            Whiteman  566  Goalkeeper
566          Antonio      Martinez Lopez  567         NaN
567         Domingos               Quina  568  Midfielder
568            Jakob            Haugaard  569  Goalkeeper
569             Jack             Simpson  570    Defender
570            Hamza           Choudhury  571  Midfielder
571              Max           Melbourne  572    Defender
572              Ben             Johnson  573         NaN
573           Nathan               Trott  574  Goalkeeper
574          Fredrik            Ulvestad  575  Midfielder
575            Erwin              Mulder  576  Goalkeeper
576          Rayhaan             Tulloch  577     Forward
577           Nathan            Ferguson  578    Defender
578            Aaron         Wan-Bissaka  579    Defender
579            Moses              Makasi  580  Midfielder
580          Michael              Folivi  581     Forward
581           Daniel            Bachmann  582  Goalkeeper
582           Callum         Hudson-Odoi  583  Midfielder
583          Emerson             Hyndman  584  Midfielder
584           Connor             Mahoney  585  Midfielder

[585 rows x 4 columns]

--------------------------------------------------------------------------------------------------------------------------------

In [78]:
features = ['assists', 'bonus', 'goals_scored', 'start_cost', 'end_cost','minutes', 'total_points']

In [79]:
import glob
path = 'data/2016-17/players'
filenames = glob.glob(path + "/*/history.csv")

In [80]:
p_name = pd.read_csv('data/2016-17/player_idlist.csv')

In [81]:
fname = p_name['first_name']
sname = p_name['second_name']
pname = fname + '_' + sname

In [82]:
import pandas as pd
player_avg_history = pd.DataFrame(index = pname, columns = features)
player_avg_history[:5]

,assists,bonus,goals_scored,start_cost,end_cost,minutes,total_points
David_Ospina,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Petr_Cech,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Laurent_Koscielny,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Per_Mertesacker,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gabriel Armando_de Abreu,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
path = 'data/2016-17/players/'
for i in player_avg_history.index:
    f = path + i + '/history.csv'
    f2 = unicode(f, "utf-8") # a shot in the dark; bullseye
    a = pd.read_csv(f2)
    b = a.mean(axis=0)
#     print b[features]
    player_avg_history.loc[i] = b[features]
    player_avg_history.loc[i, 'points_per_min'] = 0 if b['minutes'] == 0 else b['total_points'] / b['minutes']

In [84]:
player_avg_history

,assists,bonus,goals_scored,start_cost,end_cost,minutes,total_points,points_per_min
David_Ospina,0,0.666667,0,50,48,707.667,32.6667,0.046161
Petr_Cech,0.181818,3.54545,0,62.7273,61.7273,2699.64,130.818,0.048458
Laurent_Koscielny,0.428571,13.1429,2.42857,58.5714,58.7143,2550.71,117.857,0.046206
Per_Mertesacker,0.333333,7.66667,0.833333,55,55.5,2206.5,90.6667,0.041091
Gabriel Armando_de Abreu,0.333333,3.66667,0.333333,51.6667,47.3333,1210.33,48,0.039658
HÃ©ctor_BellerÃ­n,3,8.75,1,52.5,55.75,1826.5,92,0.050370
Kieran_Gibbs,1.09091,2.81818,0.181818,51.8182,49.0909,846.727,38.0909,0.044986
Mathieu_Debuchy,1.2,2.4,0.4,52,48.6,923.6,28.8,0.031182
Carl_Jenkinson,0.833333,2.5,0.5,49.1667,46.6667,1077.5,39.5,0.036659
Nacho_Monreal,2,7.2,0.2,55,53,2137.6,94.4,0.044162
Calum_Chambers,0.6,4,0.6,45,43.6,1157,44.6,0.038548
Alexis_SÃ¡nchez,8,26,17.6667,108.333,115,2865.67,212.667,0.074212
Theo_Walcott,4.90909,7.54545,5.90909,82.7273,79.7273,1418.27,95.0909,0.067047
Mesut_Ã–zil,11.5,20,5.75,92.5,93.25,2468.75,151.75,0.061468
Santiago_Cazorla,7.4,12.6,5,87,84.4,2157.2,116.6,0.054052
Aaron_Ramsey,4.33333,7.22222,3.22222,66.6667,64.4444,1506.44,79.1111,0.052515
Jack_Wilshere,1.88889,3.11111,0.777778,59.4444,55.4444,1107.44,41,0.037022
Alex_Oxlade-Chamberlain,3.16667,1.83333,1.5,65,58.6667,1022.83,54.6667,0.053446
Serge_Gnabry,0.2,0.4,0.2,48,45,96.6,6.2,0.064182
Francis_Coquelin,0.428571,0.571429,0,47.4286,46.1429,849.143,25,0.029441
Alex_Iwobi,3.5,5,2.5,52.5,49,1042,65.5,0.062860
Mohamed_Elneny,1,0,0,52.5,48.5,743,25.5,0.034320
Joel_Campbell,0.666667,2.33333,1,55,53,308.333,19.3333,0.062703
Granit_Xhaka,3,7,2,55,52,2483,85,0.034233
Olivier_Giroud,5.4,18,13.8,88,83.2,2179.4,140,0.064238
Danny_Welbeck,2.88889,6.55556,4,69.4444,64.5556,1091.33,59.6667,0.054673
Yaya_Sanogo,0.25,0,0,50,47.75,134,6.75,0.050373
Takuma_Asano,0,0,0,50,49,0,0,0.000000
Artur_Boruc,0.2,4.8,0,46,46,2072.4,83.2,0.040147
Adam_Federici,0,0.8,0,42,40.8,535.6,16.4,0.030620
...,...,...,...,...,...,...,...,...
Connor_Roberts,0,0,0,40,40,0,0,0.000000
Matthew_Willock,0,0,0,45,45,0,0,0.000000
Axel_Tuanzebe,0,0,0,40,40,151.5,7,0.046205
Damian Emiliano_Martinez,0,0,0,43.3333,42.6667,160.667,7.33333,0.045643
Joe_Williams,0,0,0,45,45,0,0,0.000000
Dion_Pereira,0,0,0,45,45,25,2,0.080000
Matt_Macey,0,0,0,40,40,0,0,0.000000
James_Husband,0,0,0,40,40,58,0,0.000000
Joel Dinis_Castro Pereira,0,0,0,40,40,90,6,0.066667
Eduardo_Dos Reis Carvalho,0,0,0,45,45,0,0,0.000000
Moses_Makasi,0,0,0,45,45,0,0,0.000000
Nathan_Holland,0,0,0,45,45,0,0,0.000000
Rhian_Brewster,0,0,0,45,45,0,0,0.000000
Scott_McTominay,0,0,0,45,45,97,3,0.030928
Angus_Gunn,0,0,0,40,40,0,0,0.000000
Demetri_Mitchell,0,2,0,40,40,90,8,0.088889
Elliott_Moore,0,0,0,40,40,0,0,0.000000
Filip_Lesniak,1,0,0,45,45,5,4,0.800000
Samuel_Shashoua,0,0,0,45,45,0,0,0.000000
Zachary_Dearnley,0,0,0,45,45,0,0,0.000000
Joshua_Harrop,0,0,1,45,45,90,8,0.088889
Daniel_Kemp,0,0,0,45,45,0,0,0.000000
Daniel_Batty,0,0,0,45,45,0,0,0.000000
Aaron_Ramsdale,0,0,0,40,40,0,0,0.000000
Matthew_Worthington,0,0,0,45,45,17,1,0.058824
Sam_Surridge,0,0,0,45,45,0,0,0.000000
Angel_Gomes,0,0,0,45,45,3,1,0.333333
Kieran_O'Hara,0,0,0,40,40,0,0,0.000000
Gerhard_Tremmel,0,0.166667,0,41.6667,41.1667,398.833,13.8333,0.034684
Rene_Gilmartin,0,0,0,40,40,0,0,0.000000

In [89]:
from sklearn import linear_model
regr = linear_model.LinearRegression()
x = player_avg_history[features[:5]]
y = player_avg_history['points_per_min']
regr.fit(x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [94]:
feat = []
path = 'data/2017-18/players/'
for i in player_avg_history.index[:1]:
    f = unicode(path + i + '/gw.csv', "utf-8")
    a = pd.read_csv(f)
    print a[features]

KeyError: "['start_cost' 'end_cost'] not in index"